<p>Read and subscribe to The Official Bootstrap Blog.
Chat with fellow Bootstrappers using IRC in the irc.freenode.net server, in the ##bootstrap channel.
For help using Bootstrap, ask on StackOverflow using the tag twitter-bootstrap-3.
Developers should use the keyword bootstrap on packages which modify or add to the functionality of Bootstrap when distributing through npm or similar delivery mechanisms for maximum discoverability.
Find inspiring examples of people building with Bootstrap at the Bootstrap Expo.
You can also follow @getbootstrap on Twitter for the latest gossip and awesome music videos.</p>