<div class="jumbotron">
	<h1><i class="fa fa-circle-o-notch"></i>Saikat</h1>
	<p>This is my Smart to do list ruby on rails Application</p>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
